# requirements.txt
# Core LangChain V1 Architecture components
langchain-core
langchain-community

# Integrations
langchain-google-genai
langchain-elasticsearch
confluent-kafka

# Server/API dependencies
fastapi[standard]

# other
pypdf
