services:
  elasticsearch:
    image: elasticsearch:8.19.2
    container_name: elasticsearch
    environment:
      # Required for running the 8.x stack
      - discovery.type=single-node 
      # IMPORTANT: Disables Elastic Security features (authentication)
      - xpack.security.enabled=false
      - discovery.type=single-node
      # Sets the minimum required memory limits
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      # Default HTTP port for Elasticsearch
      - 9200:9200
      # Default transport port (often not needed externally)
      - 9300:9300 
    volumes:
      # Optional: Persist data outside the container
      - esdata:/usr/share/elasticsearch/data
    ulimits:
      # Required ulimits for Elasticsearch
      memlock:
        soft: -1
        hard: -1
    restart: unless-stopped

  kafka:
    image: apache/kafka-native:3.8.0
    container_name: kafka
    hostname: kafka
    # Expose port 9092 for external clients (e.g., your local machine)
    ports:
      - "9092:9092"
    environment:
      # --- KRaft Configuration ---
      # Set the roles for this Kafka process (Broker and Controller)
      KAFKA_PROCESS_ROLES: 'broker,controller'
      # Set a unique ID for this Kafka node
      KAFKA_NODE_ID: 1
      # A unique identifier for the Kafka cluster (can be anything, but must be the same for all nodes)
      KAFKA_CLUSTER_ID: 'wFk-08h7GjW0-F5sJv1w' 
      # Define the listeners for internal/external communication and the controller role
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093'
      # How clients should connect to this Kafka instance
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9092' # Use 'kafka:9092' for other services in this compose network
      # Define the controller quorum voters, using the internal listener name and node ID
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      # Define the listener for the controller communication
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      # Set topic and transaction replication factors to 1 for this single-node setup
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
    # Define a volume to persist Kafka's log data (optional, but recommended)
    volumes:
      - kafka_data:/var/lib/kafka/data
      
  postgres:
    image: postgres:18.0
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: testpwd123
      POSTGRES_DB: hybridsearch
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  esdata:
    driver: local
  postgres_data:
  kafka_data:
